{% extends 'bootstrap-base.html' %}

{% block title %}
{% if title %}{{ title }} | {% endif %}Computermuseum Arnhem
{% endblock %}

{% block navbar %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Computermuseum Arnhem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('show_items') }}">Items</a></li>
            </ul>
            <ul class="navbar-nav">
                {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="#">{{ current_user.username }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>            
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="alert alert-info alert-dismissible fade show w-100" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
<div>
{% endblock %}

{% block styles %}
{{ super() }}
<script src="https://kit.fontawesome.com/0a65674c15.js" crossorigin="anonymous"></script>
<style>
    .clickable-row { cursor: pointer; }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });
    });
</script>
{% endblock %}