{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-lg-12">
        <h1>{{ item.get_name() }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        {% if item.thumbnail %}
        <img src="{{ item.get_thumbnail().link('300x300') }}" alt="{{ item.get_thumbnail.name }}" class="img-thumbnail rounded">
        {% else %}
        <img src="{{ url_for('static', filename='300x300/thumbnail.jpg') }}" alt="No thumbnail" class="img-thumbnail rounded">
        {% endif %}
    </div>
    <div class="col-lg-8">
        {{ wtf.quick_form(form, form_type='horizontal') }}
        <p><i>Last change {{ item.updated_at }} by {{ item.updated_by }}</i></p>
    </div>
</div>
{% if pictures %}
<div class="row">
    <div class="col-lg-12">
    <h2>Gallery</h2>
    {% for picture in pictures %}
    <div class='col-lg-3' style="height: 220px;">
    <img src="{{ picture.link('200x200') }}" alt="{{ picture.name }}" class="img-thumbnail rounded align-middle">
    </div>
    {% endfor %}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-lg-4">
        <p><a href="{{ url_for('show_items') }}">Back</a></p>
    </div>
</div>
{% endblock  %}
