{% extends "base.html" %}

{% block app_content %}
{% if items %}
<table class="table table-hover" data-toggle="table" data-search="true">
    <thead>
    <tr>
        <th data-sortable="true">Label</th>
        <th data-sortable="true">Name</th>
        <th data-sortable="true">Manufacturer</th>
        <th data-sortable="true">Model</th>
        <th>Serial</th>
        <th data-sortable="true">Category</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr class="clickable-row" data-href="{{ url_for('show_item', id=item.id) }}">
        <td><a href="{{ url_for('show_item', id=item.id) }}">{{ item.label if item.label else '' }}</a></td>
        <td>{{ item.get_name() }}</td>
        <td>{{ item.manufacturer if item.manufacturer else '' }}</td>
        <td>{{ item.model if item.model else '' }}</td>
        <td>{{ item.serial if item.serial else '' }}</td>
        <td>{{ item.category if item.category else '' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No items found</p>
{% endif %}
{% endblock  %}

