{% extends "base.html" %}

{% block app_content %}
{% if items %}
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Label</th>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Serial</th>
    </tr>
    {% for item in items %}
    <tr>
        <td><a href="{{ url_for('show_item', id=item.id) }}">{{ item.id }}</a></td>
        <td>{{ item.label if item.label else '' }}</td>
        <td>{{ item.name if item.name else '' }}</td>
        <td>{{ item.manufacturer if item.manufacturer else '' }}</td>
        <td>{{ item.model if item.model else '' }}</td>
        <td>{{ item.serial if item.serial else '' }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No items found</p>
{% endif %}
{% endblock  %}
